<h1>Patient Details</h1>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>patient_number:</strong>
  <%= @patient.number %>
</p>

<p>
  <strong>consultation problem:</strong>
  <%= @patient.consultation_problem %>
</p>

<p>
  <strong>consultating_fees:</strong>
  <%= @patient.consulting_fees %>
</p>

<%= link_to 'Edit Patient', edit_patient_path(@patient), class: 'btn btn-primary' %> |
<%= link_to 'Back to Patients List', patients_path, class: 'btn btn-secondary' %> |
<%= link_to 'Delete Patient', patient_path(@patient), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this patient?' }, class: 'btn btn-danger' %>
